---
import Layout from "../layouts/Layout.astro";
import { UUIDAnalyzer } from "../components/react/UUIDAnalyzer.tsx";
---

<Layout title="UUID Utility">
    <main>
        <a href="/">Back to selection</a><br />
        <hr />
        <h1>UUID Utility</h1>
        <p>
            Convert UUID to plethora of formats. Make sure to favourite your
            close-to-heart UUIDs at
            <a href="https://everyuuid.com/">https://everyuuid.com/</a>.
        </p>
        <UUIDAnalyzer client:load />
    </main>
</Layout>
