---
interface Props {
	title: string;
}

const { title } = Astro.props;

// import '@picocss/pico/css/pico.fluid.classless.min.css';
import '@picocss/pico/css/pico.min.css';
import ThemeDetectorHead from '../components/ThemeDetectorHead.astro';
import { ThemeSwitcher } from '../components/react/ThemeSwitcher.tsx';
---

<!doctype html>
<html lang="en">
	<head>
		<ThemeDetectorHead/>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<ThemeSwitcher client:load/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--background: #13151a;
		--color-primary: white;
		--color-secondary: #eee;
		--color-anchor: rgb(194, 145, 255);
		--color-anchor-hover: rgb(var(--accent-light));
	}

	#theme-switcher {
		display: block;
		position: fixed;
		top: 10px;
		right: 10%;
		width: 50px;

		& svg {
			width: 50px;
		}
	}

	pre {
		padding: 1rem;
	}
</style>
